@model IEnumerable<edu.Models.NewsCat>
@inject edu_portal_dbContext Contex
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}



<h1>КАТЕГОРИ</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<ul>
@foreach (var todo in Contex.NewsCats.Where(vs => vs.SubId == null).OrderBy(vs => vs.TxtOrd))
{

    <li>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="/NewsCats/Edit/@todo.Id">
                       @todo.Txtname
                    </a>
                </div>
                    <div class="col pull-right">
                    <a asp-action="Edit" asp-route-id="@todo.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@todo.Id">Delete</a>
                </div>
             
            </div>
            </div><hr />
        <ul>


            @foreach (var to in Contex.NewsCats.Where(vs => vs.SubId == todo.Id).OrderBy(vs => vs.TxtOrd))
            {

                <li>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a href="/NewsCats/Edit/@to.Id">
                                    
                                    @to.Txtname
                                </a>
                            </div>
                                <div class="col pull-right">
                                <a asp-action="Edit" asp-route-id="@to.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@to.Id">Delete</a>
                            </div>

                        </div>
                    </div><hr />
                    <ul>


                        @foreach (var t in Contex.NewsCats.Where(vs => vs.SubId == to.Id).OrderBy(vs => vs.TxtOrd))
                        {

                            <li>
                             
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <a href="/NewsCats/Edit/@t.Id">
                                              @t.Txtname
                                            </a>
                                        </div>
                                        <div class="col pull-right">
                                            <a asp-action="Edit" asp-route-id="@t.Id">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@t.Id">Delete</a>
                                        </div>

                                    </div>
                                    </div><hr />
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </li>
}
</ul>








        

        
