@using System.Security.Claims
@using edu.Views.Shared

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/template/html/assets/img/favicon.svg">

    <link rel="stylesheet" href="~/template/html/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/template/html/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/template/html/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/template/html/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/template/html/assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/template/html/assets/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/template/html/assets/plugins/slick/slick-theme.css">

    <link rel="stylesheet" href="~/template/html/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/template/html/assets/plugins/aos/aos.css">

    <link rel="stylesheet" href="~/template/html/assets/css/style.css">

    <title>@ViewData["Title"] - edu</title>

@*     <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.kendostatic.com/2022.1.119/styles/kendo.default-nordic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.kendostatic.com/2022.1.119/js/jquery.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.119/js/jszip.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.119/js/kendo.all.min.js"></script>
    <script src="https://cdn.kendostatic.com/2022.1.119/js/kendo.aspnetmvc.min.js"></script> *@

</head>
<body>

    <div class="main-wrapper">

        <header class="header header-page">
            <div class="header-fixed">
                <nav class="navbar navbar-expand-lg header-nav scroll-sticky">
                    <div class="container ">
                        <div class="navbar-header">
                            <a id="mobile_btn" href="javascript:void(0);">
                                <span class="bar-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </span>
                            </a>
                            <a href="~/home/index" class="navbar-brand logo">
                                <img src="~/template/html/assets/img/logo.svg" class="img-fluid" alt="Logo">
                            </a>
                        </div>
                        <component type="typeof(Menucat)" render-mode="ServerPrerendered" />
                        <ul class="nav header-navbar-rht">
                            <li class="nav-item user-nav">
                                <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    <span class="user-img">
                                        <img src="~/template/html/assets/img/user/user11.jpg" alt="">
                                        <span class="status online"></span>
                                    </span>
                                </a>
                                <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                                    <div class="user-header">
                                        <div class="avatar avatar-sm">
                                            <img src="~/template/html/assets/img/user/user11.jpg" alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                        <div class="user-text">
                                            <h6>@User.FindFirst(ClaimTypes.Name)?.Value</h6>
                                            <p class="text-muted mb-0">@User.FindFirst(ClaimTypes.Role)?.Value</p>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" href="~/student/settingeditprofile"><i class="feather-user me-1"></i> Профайл</a>
                                    <a class="dropdown-item" href="~/student/settingstudentsubscription"><i class="feather-star me-1"></i> Захиалга</a>
                                 @*    <div class="dropdown-item night-mode">
                                        <span><i class="feather-moon me-1"></i> Night Mode </span>
                                        <div class="form-check form-switch check-on m-0">
                                            <input class="form-check-input" type="checkbox" id="night-mode">
                                        </div>
                                    </div> *@
                                    <a class="dropdown-item" href="~/home/logout"><i class="feather-log-out me-1"></i> Гарах</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>


        <div class="page-content">
            <div class="container">
                <div class="row">

                    <div class="col-xl-3 col-md-4 theiaStickySidebar">
                        <div class="settings-widget dash-profile mb-3">
                            <div class="settings-menu p-0">
                                <div class="profile-bg">
                                    <h5>Анхан</h5>
                                    <img src="~/template/html/assets/img/profile-bg.jpg" alt="">
                                    <div class="profile-img">
                                        <a href="~/student/studentprofile"><img src="~/template/html/assets/img/user/user11.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class="profile-group">
                                    <div class="profile-name text-center">
                                        <h4><a href="~/student/studentprofile">@User.FindFirst(ClaimTypes.Name)?.Value</a></h4>
                                        <p>@User.FindFirst(ClaimTypes.Role)?.Value</p>
                                    </div>
                                    <div class="go-dashboard text-center">
                                        <a href="~/student/depositstudentdashboard" class="btn btn-primary">Сурах</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="settings-widget account-settings">
                            <div class="settings-menu">
                                <h3>Тохиргоо</h3>
                                <ul>
                                    <li class="nav-item ">
                                        <a href="~/student/settingeditprofile" class="nav-link">
                                            <i class="feather-settings"></i> Профайл
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/student/settingstudentsecurity" class="nav-link">
                                            <i class="feather-user"></i> Нууц үг
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/student/settingstudentsocialprofile" class="nav-link">
                                            <i class="feather-refresh-cw"></i> Олон нийтийн сүлжээ
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/home/logout" class="nav-link">
                                            <i class="feather-power"></i> Гарах
                                        </a>
                                    </li>
                                </ul>
                                <h3>Захиалга</h3>
                                <ul>
                                    <li class="nav-item">
                                        <a href="~/student/settingstudentsubscription" class="nav-link ">
                                            <i class="feather-calendar"></i> Миний захиалга
                                        </a>
                                    </li>
                               
                                    <li class="nav-item">
                                        <a href="~/student/settingstudentpayment" class="nav-link">
                                            <i class="feather-credit-card"></i> Төлбөр
                                        </a>
                                    </li>
                                  
                                </ul>
                            </div>
                        </div>

                    </div>


                    <div class="col-xl-9 col-lg-8 col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="settings-widget">

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="widget-set">

                                                        <div class="widget-content multistep-form">
                                                            <fieldset id="first">
                                                                <div class="add-course-form">
                                                                    <br />
                                                                    @RenderBody()
                                                                </div>
                                                            </fieldset>
                                                            </<div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">

            <div class="footer-top aos" data-aos="fade-up">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="~/template/html/assets/img/logo.svg" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>Мөрөөдөлд хүрэх ганц зам бол сурах</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Instructor</h2>
                                <ul>
                                    <li><a href="instructor-profile.html">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="instructor-list.html">Instructor</a></li>
                                    <li><a href="deposit-instructor-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Student</h2>
                                <ul>
                                    <li><a href="student-profile.html">Profile</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="students-list.html">Student</a></li>
                                    <li><a href="deposit-student-dashboard.html"> Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">News letter</h2>
                                <div class="news-letter">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Enter your email address" name="email">
                                    </form>
                                </div>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <img src="~/template/html/assets/img/icon/icon-20.svg" alt="" class="img-fluid">
                                        <p> 3556 Beech Street, San Francisco,<br> California, CA 94108 </p>
                                    </div>
                                    <p>
                                        <img src="~/template/html/assets/img/icon/icon-19.svg" alt="" class="img-fluid">
                                        <a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c8acbaada9a5bba4a5bb88adb0a9a5b8a4ade6aba7a5">[email&#160;protected]</a>
                                    </p>
                                    <p class="mb-0">
                                        <img src="~/template/html/assets/img/icon/icon-21.svg" alt="" class="img-fluid">
                                        8989889
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container">

                    <div class="copyright">
                        <div class="row">
                            @*  <div class="col-md-6">
                            <div class="privacy-policy">
                            <ul>
                            <li><a href="term-condition.html">Terms</a></li>
                            <li><a href="privacy-policy.html">Privacy</a></li>
                            </ul>
                            </div>
                            </div> *@
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; @DateTime.Now.Year  DreamsLMS. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>
        

    </div>





@* 
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> *@
    <script src="~/template/html/assets/js/jquery-3.7.1.min.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>

    <script src="~/template/html/assets/js/bootstrap.bundle.min.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>

    <script src="~/template/html/assets/js/jquery.waypoints.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>
    <script src="~/template/html/assets/js/jquery.counterup.min.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>

    <script src="~/template/html/assets/plugins/select2/js/select2.min.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>

    <script src="~/template/html/assets/js/owl.carousel.min.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>

    <script src="~/template/html/assets/plugins/slick/slick.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>

    <script src="~/template/html/assets/plugins/aos/aos.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>

    <script src="~/template/html/assets/js/script.js" type="5ddc36a48d7b03418e2b0113-text/javascript"></script>
    <script src="~/template/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="5ddc36a48d7b03418e2b0113-|49" defer=""></script>

    @* <script src="../cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="5ddc36a48d7b03418e2b0113-|49" defer="">
     *@    
    
    </script>
</body>

@RenderSection("Scripts", required: false)
</html>