@using System.Web
@model edu.Models.Lesson

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layoutteacher.cshtml";
}
@* 
<h1>Хичээлийн нэр: @ViewBag.name</h1>
 *@
<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
      
        <dd class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Name)
               <hr />
            @Html.DisplayFor(model => model.Name)
        </dd>
     
        <dd class="col-sm-12">
            @Html.DisplayNameFor(model => model.ViewMinut)<hr />
            @Html.DisplayFor(model => model.ViewMinut)
        </dd>
      
        <dd class="col-sm-12">
            @Html.DisplayNameFor(model => model.Txtmore)<hr />
            @Html.Raw(HttpUtility.HtmlDecode(Model.Txtmore))
        </dd>

        <dd class="col-sm-12">
            @Html.DisplayNameFor(model => model.Txtcontent)<hr />
            @Html.Raw(HttpUtility.HtmlDecode(Model.Txtcontent))
        </dd>

        <dd class="col-sm-12">
            @Html.DisplayNameFor(model => model.Txtvoice)<hr />
            <video width="320" height="240" controls>
                <source src="@Model.Txtvoice" type="video/mp4">
            </video>
        </dd>
        <dd class="col-sm-12">
            @Html.DisplayNameFor(model => model.Txtvideo)<hr />
            <video width="320" height="240" controls>
                <source src="@Model.Txtvideo" type="video/mp4">
            </video>
        </dd>
    



        
        <dd class = "col-sm-10">
           
            @Html.Raw(HttpUtility.HtmlDecode(Model.Txtcontent))
            @* @Html.DisplayFor(model => model.Txtcontent) *@
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
